<fieldset>
  <legend>Récupération du nombre</legend>
  <p>
    <button (click)="getCurrent()">Récupérer le nombre actuel</button>
  </p>
  <label>
    Nombre actuel
    <p id="current"></p>
  </label>
</fieldset>

<fieldset>
  <legend>Ajouter au nombre actuel</legend>
  <p>
    <input type="number" id="add-input">
    <button (click)="add()">Calculer</button>
  </p>
  <label>
    Nombre obtenue
    <p id="add"></p>
  </label>
</fieldset>

<fieldset>
  <legend>Accumuler au nombre actuel</legend>
  <p>
    <input type="number" id="acc-input">
    <button (click)="acc()">Calculer</button>
  </p>
  <label>
    Nouveau nombre actuel
    <p id="acc"></p>
  </label>
</fieldset>

<router-outlet></router-outlet>
